/*
 ┌————————————————————┐
 │     Bot d(-_-)b    │
 └————————————————————┘
*/
#chat [data-cid^='42136069-'] {
    border-left: rgba(40, 120, 60, 0.7) 3px solid !important;
    background: linear-gradient(to right, rgba(19, 194, 181, 0.27)0,rgba(40, 120, 60, 0.3) 100%) !important;
    box-shadow: none !important;
}
    /*User Badge*/
    #user-rollover.id-42136069 .badge-box i.bdg,
    #chat-messages .id-42136069 .badge-box i.bdg {
        background-image: url("https://static-cdn.jtvnw.net/jtv_user_pictures/b6617b5f-a688-4f2c-bee2-6f7fbc01b917-profile_image-300x300.png");
        background-size: cover;
        border-radius: 7px;
        width: 100%;
        height: 100%;
        background-position: initial;
        position: absolute;
        top: 0px;
        left: 0px;
    }
