/*
 ┌————————————————————┐
 │     Bot d(-_-)b    │
 └————————————————————┘
*/
#chat [data-cid^='42136069-'] {
    border-left: rgba(40, 120, 60, 0.7) 3px solid !important;
    background: linear-gradient(to right, rgba(19, 194, 181, 0.27)0,rgba(40, 120, 60, 0.3) 100%) !important;
    box-shadow: none !important;
}
#chat [data-cid^='42136069-'] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://i.imgur.com/2nJm45k.png") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
/* bot */
#chat-messages .id-42136069 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

    #chat-messages .id-42136069 .badge-box:hover {
        width: 65px;
        height: 65px;
        transition: 0.5s;
    }

    /*User Badge*/
    #user-rollover.id-42136069 .badge-box i.bdg,
    #chat-messages .id-42136069 .badge-box i.bdg {
        background-image: url("https://i.imgur.com/2nJm45k.png");
        background-size: cover;
        border-radius: 7px;
        width: 100%;
        height: 100%;
        background-position: initial;
        position: absolute;
        top: 0px;
        left: 0px;
    }


#user-rollover.id-42136069 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#chat [data-cid^='42136069-'] .un,
#chat [data-cid^='42136069-'] .timestamp {
    color: #5A6 !important;
}
#user-lists .list .user.id-42136069 .name:after,
#chat [data-cid^='42136069-'] .un:after,
#user-rollover.id-42136069 .username:after {
    content: 'BOT';
    display: inline-block;
    margin: 0 0 0 5px; padding: 0 3px;

    color: #095;
    background: linear-gradient(rgba(10,10,10,.5), rgba(0,0,0,.5));
    border-radius: 4px;
    font-size: 10px;
}
#user-lists .list .user.id-42136069:hover .name:after,
#chat [data-cid^='42136069-'] .un:hover:after {
    background: linear-gradient(rgba(0, 153, 85, 0.2), rgba(0, 101, 56, 0.2));
}
