/*
 ┌————————————————————┐
 │   Valuable users   │
 └————————————————————┘
 */
/* Ciendy */
 [data-cid^="4690413-"] .badge-box .bdg {
     background-image: url("https://i.imgur.com/AqlZ8lD.gif") !important;
     background-repeat: round !important;
     background-size: 30px !important;
 }
 #user-rollover.id-4690413 .badge-box .bdg {
     border-radius: 5px !important;
     background-image: url("https://i.imgur.com/AqlZ8lD.gif") !important;
     background-repeat: round !important;
     background-size: 30px !important;
 }
 /* Ciendy */

/* Krekouš */
 [data-cid^="4849016-"] .badge-box .bdg {
     border-radius: 6px !important;
     background-image: url("http://i.imgur.com/PiQqaS1.gif") !important;
     background-repeat: round !important;
     background-size: 30px !important;
 }
 #user-rollover.id-4849016 .badge-box .bdg {
     border-radius: 8px !important;
     background-image: url("http://i.imgur.com/PiQqaS1.gif") !important;
     background-repeat: round !important;
     background-size: 30px !important;
 }
 /* - */

/* Freyr */
 [data-cid^="4405644-"] .badge-box .bdg {
     border-radius: 6px !important;
     background-image: url("http://i.imgur.com/lLqiUUB.gif") !important;
     background-repeat: round !important;
     background-size: 30px !important;
 }
 #user-rollover.id-4405644 .badge-box .bdg {
     border-radius: 8px !important;
     background-image: url("http://i.imgur.com/lLqiUUB.gif") !important;
     background-repeat: round !important;
     background-size: 30px !important;
 }
